{% extends 'KodifySimpleCrudBundle::layout.html.twig' %}

{% block content %}
<div class="kcrud-form styled boxed boxed-cream" id="addcomments">
    <div class="kcrud-form-title gradient"><h3>{% block form_title %}{{ page_title }}{% endblock form_title %}</h3></div>
    <div class="comment-form">
        {% include "KodifySimpleCrudBundle:CRUD:message_alert.html.twig" %}
        {% set form_parameters = {} %}
        {% if form_destination|keys %}
            {% set form_parameters = form_destination.1 %}
            {% set form_destination = form_destination.0 %}
        {% endif %}
        <form id="crud_form" action="{{ path(form_destination, form_parameters) }}" method="post" {{ form_enctype(form) }} novalidate class="ajax_form">
            <div class="form-inner">
                {% block pre_form_block %}{% endblock pre_form_block %}
                {{ form_widget(form) }}
            </div>

            <div class="rowSubmit">
                <button class="btn btn-primary" type="submit">
                    <span>
                    {% if submit_literal is defined %}
                        {{ submit_literal }}
                    {% else %}
                        {% if new_object %}{% trans %}Create{% endtrans %}{% else %}{% trans %}Save{% endtrans %}{% endif %}
                    {% endif %}
                    </span>
                </button>
                <button class="btn btn-danger" type="button" id="cancel_button"><span>{% trans %}Cancel{% endtrans %}</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#cancel_button').on("click", function () {
                window.location.href = "{{ cancel_url }}";
            });
        });
    </script>
{% endblock foot_script %}