{% extends 'KodifySimpleCrudBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ page_title }}</h1>
    <div class="well">
        {% include "KodifySimpleCrudBundle:CRUD:message_alert.html.twig" %}
        <form action="{{ path(form_destination) }}" method="post" {{ form_enctype(form) }} novalidate>
            {{ form_widget(form) }}
            <p>
                <button class="btn btn-primary" type="submit">{% if new_object %}Create{% else %}Save{% endif %}</button>
                <button class="btn btn-danger" type="button" id="cancel_button">Cancel</button>
            </p>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            $('#cancel_button').on("click", function () {
                window.location = "{{ cancel_url }}";
            });
        });
    </script>
{% endblock content %}