{% extends 'KodifySimpleCrudBundle::layout.html.twig' %}

{% block content %}
<div>
    <div class="listBundle form_layout">
        <div class="header">
            <h1>{% block form_title %}{{ page_title }}{% endblock form_title %}</h1>
        </div>
        <div class="well">
            {% include "KodifySimpleCrudBundle:CRUD:message_alert.html.twig" %}
            {% set form_parameters = {} %}
            {% if form_destination|keys %}
                {% set form_parameters = form_destination.1 %}
                {% set form_destination = form_destination.0 %}
            {% endif %}
            <form id="crud_form" action="{{ path(form_destination, form_parameters) }}" method="post" {{ form_enctype(form) }} novalidate>
                {% block pre_form_block %}{% endblock pre_form_block %}
                {{ form_widget(form) }}
                <p>
                    <button class="btn btn-primary" type="submit">
                        {% if submit_literal is defined %}
                            {{ submit_literal }}
                        {% else %}
                            {% if new_object %}{% trans %}Create{% endtrans %}{% else %}{% trans %}Save{% endtrans %}{% endif %}
                        {% endif %}
                    </button>
                    <button class="btn btn-danger" type="button" id="cancel_button">{% trans %}Cancel{% endtrans %}</button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block foot_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#cancel_button').on("click", function () {
                window.location.href = "{{ cancel_url }}";
            });
        });
    </script>
{% endblock foot_script %}