{% if has_mass_actions %}
    <div class="clear"></div>
    <div class="pull-left">
        <form id="mass_action_form">
            <label>
                Mass Actions:
                <input type="hidden" id="ma_selected_ids" name="ma_selected_ids" value="">
                <input type="hidden" id="ma_current_url" name="ma_current_url" value="">
                <select id="mass_action_select" onchange="javascript:execute_mass_action()">
                    <option></option>
                    {% for key, mass_action in mass_actions %}
                        <option value="mass_action_{{ key }}">{{ mass_action.label }}</option>
                    {% endfor %}
                </select>
            </label>
            {% if mass_actions_all_ids_count > 0 %}
                <br>
                <label>
                    <input type="checkbox" id="ma_apply_to_all"> Apply to all entities, {{ mass_actions_all_ids_count }} objects
                </label>
            {% endif %}
        </form>
    </div>
    <script>
        var mass_actions = new Array();
        var mass_actions_all_rows_id = '{{ mass_actions_all_ids }}';
        {% for key, mass_action in mass_actions %}
            mass_actions['{{ 'mass_action_' ~ key }}'] = '{{ mass_action.label }}';
            mass_actions['{{ 'mass_action_' ~ key ~ '_url' }}'] = '{{ mass_action.path }}';
        {% endfor %}

        function execute_mass_action()
        {
            var mass_action_name    = mass_actions[$('#mass_action_select').val()];
            var affected_rows       = '';
            var alert_message       = "Are you sure that you want to execute <b>" + mass_action_name + "</b> mass action? <br><br>";
            if ($('#ma_apply_to_all').prop('checked')) {
                affected_rows = mass_actions_all_rows_id;
                alert_message = alert_message + "<b>You are going to update {{ mass_actions_all_ids_count }} objects</b>"
            } else {
                $("input[name='mass_action_cb[]']:checked").each( function () {
                    affected_rows = affected_rows + $(this).val() + ', ';
                });
                alert_message = alert_message + "<b>Selected rows:</b> <br>" + affected_rows
            }

            bootbox.dialog({
                message: alert_message,
                title: "Mass actions",
                buttons: {
                    success: {
                        label: "OK",
                        className: "btn-primary",
                        callback: function() {
                            $('#ma_selected_ids').val(affected_rows);
                            $('#ma_current_url').val($(location).attr('href'));
                            $(location).attr('href');
                            $('#mass_action_form').attr('action', mass_actions[$('#mass_action_select').val() + '_url']);
                            $('#mass_action_form').submit();
                        }
                    },
                    danger: {
                        label: "Cancel",
                        className: "btn-danger",
                        callback: function() {
                            $('#mass_action_select').val('');
                        }
                    }
                }
            });
        }
    </script>
{% endif %}