<div class="ovAuto">
    <div class="pull-left">
        <div class="dataTables_info">
            {% trans %}Showing{% endtrans %} {{ str_from }} {% trans %}to{% endtrans %} {{ str_to }} {% trans %}of{% endtrans %} {{ total_rows }} {% trans %}entries{% endtrans %}
        </div>
    </div>
    <div class="pull-right">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul>
                <li class="{% if paginator_prev < 0 %}disabled{% endif %}">
                    <a id="crud_prev_button" class="{% if paginator_prev >= 0 %}page_link{% endif %}" data-page="{{ paginator_prev }}">â† {% trans %}Prev{% endtrans %}</a>
                </li>
                {% for page_number in paginator_page %}
                    <li class="{% if page_number == current_page %}active{% endif %}">
                        <a class="page_link" data-page="{{ page_number }}">{{ page_number + 1 }}</a>
                    </li>
                {% endfor %}
                <li class="{% if paginator_next >= total_pages %}disabled{% endif %}">
                    <a id="crud_next_button" class="{% if paginator_next < total_pages %}page_link{% endif %}" data-page="{{ paginator_next }}">{% trans %}Next{% endtrans %} â†’</a>
                </li>
            </ul>
        </div>
    </div>
</div>