{% extends 'KodifySimpleCrudBundle::layout.html.twig' %}

{% block content %}

<div class="tabs_framed">
    <div class="inner">
        <ul class="tabs clearfix">
            <li class="active"><a href="#recent" data-toggle="tab">{% include "KodifySimpleCrudBundle:CRUD:header.html.twig" %}</a></li>
        </ul>

        <div class="tab-content boxed clearfix">
            <div class="tab-pane active" id="recent">
                <div>
                    <div class="listBundle">

                        {% include "KodifySimpleCrudBundle:CRUD:message_alert.html.twig" %}

                        <div class="pull-right header_buttons">
                            {% for action in main_actions %}
                                <a class="btn btn-small" href="{{ path(action.route_name) }}"">
                                    {{ action.label }}
                                </a>
                            {% endfor %}
                            {% if add_action %}
                                <a href="{{ add_action_url }}" class="btn btn-follow"><span>{% trans %}Add new{% endtrans %}</span></a>
                            {% endif %}
                        </div>

                        <table id="crud_table" class="table table-condensed">
                            {% include "KodifySimpleCrudBundle:CRUD:list_header.html.twig" %}
                            <tbody>
                                {% for row in table_rows %}
                                    {% include "KodifySimpleCrudBundle:CRUD:list_row.html.twig" %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "KodifySimpleCrudBundle:CRUD:list_paginator.html.twig" %}
                        <script>
                            var resetFormUrl = '{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}';
                            var ajaxLoadingImgUrl = '{{ asset('bundles/kodifysimplecrud/img/ajax-loader.gif') }}';
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
