{% if custom_row_class_renderer is defined and custom_row_class_renderer != '' %}
<tr id="row{{ row[index_key] }}" class="{% include custom_row_class_renderer with {'row': row} %}">
    {% else %}
<tr id="row{{ row[index_key] }}">
    {% endif %}
    {% if has_mass_actions %}
        <th><input type="checkbox" id="ma_cb_{{ row[index_key] }}" name="mass_action_cb[]" value="{{ row[index_key] }}" checked> </th>
    {% endif %}
    {% set counter = 0 %}
    {% for key,value in row %}
        {% if table_header[counter].type is not defined or table_header[counter].type != 'hidden' %}
            {% if key in sorted_row_indexes %}
                <td class="cell_{{ key }}">
                    {% if table_header[counter] is defined and table_header[counter]['type'] is defined %}
                        {% if table_header[counter]['type'] == 'boolean' %}
                            <i class="icon-{{ value ? 'ok' : 'remove' }}"></i>
                        {% elseif table_header[counter]['type'] == 'datetime' %}
                            {% if table_header[counter]['datetime_format'] is defined %}
                                {% if value is not empty %}
                                    {{ value.timestamp|date(table_header[counter]['datetime_format']) }}
                                {% endif %}
                            {% else %}
                                {% if value is not empty %}
                                    {{ value.timestamp|date("m/d/Y") }}
                                {% endif %}
                            {% endif %}
                        {% elseif table_header[counter]['type'] == 'options' %}
                            {{ table_header[counter]['options'][value] }}
                        {% elseif table_header[counter]['type'] == 'link' %}
                            <a href="{{ value }}" target="_blank">{{ value|slice(0, 40) }}{% if value|length > 40 %}...{% endif %}</a>
                        {% elseif table_header[counter]['type'] == 'array' %}
                            {% for array_value in value %}
                                {{ array_value[table_header[counter]['array_key']] }} <br>
                            {% endfor %}
                        {% endif %}
                    {% elseif table_header[counter] is defined and table_header[counter]['custom_cell_renderer'] is defined %}
                        {% include table_header[counter]['custom_cell_renderer'] with {'value': value} %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
                {% set counter = counter + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if has_row_actions %}
        <td>
            {% for key, action_row in table_row_actions %}
                {% include custom_action_button_renderer with {'key': key, 'action_row': action_row, 'index_key': index_key} %}
            {% endfor %}
        </td>
    {% endif %}
</tr>
