<div class="row">
    <div class="span6">
        <div class="dataTables_info">
            Showing {{ str_from }} to {{ str_to }} of {{ total_rows }} entries
        </div>
    </div>
    <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination">
            <ul>
                <li class="{% if paginator_prev < 0 %}disabled{% endif %}">
                    <a id="crud_prev_button" class="{% if paginator_prev >= 0 %}page_link{% endif %}" data-page="{{ paginator_prev }}">← Prev</a>
                </li>
                {% for page_number in paginator_page %}
                    <li class="{% if page_number == current_page %}active{% endif %}">
                        <a class="page_link" data-page="{{ page_number }}">{{ page_number + 1 }}</a>
                    </li>
                {% endfor %}
                <li class="{% if paginator_next >= total_pages %}disabled{% endif %}">
                    <a id="crud_next_button" class="{% if paginator_next < total_pages %}page_link{% endif %}" data-page="{{ paginator_next }}">Next →</a>
                </li>
            </ul>
        </div>
    </div>
</div>