{% if custom_row_class_renderer is defined and custom_row_class_renderer != '' %}
    <tr id="row{{ row[index_key] }}" class="{% include custom_row_class_renderer with {'row': row} %}">
{% else %}
    <tr id="row{{ row[index_key] }}">
{% endif %}

    {% set counter = 0 %}
    {% for key,value in row %}
        {% if key in sorted_row_indexes %}
            <td>
                {% if table_header[counter] is defined and table_header[counter]['type'] is defined %}
                    {% if table_header[counter]['type'] == 'boolean'  %}
                        <i class="icon-{{ value ? 'ok' : 'remove' }}"></i>
                    {% elseif table_header[counter]['type'] == 'datetime'  %}
                        {{ value|date("m/d/Y") }}
                    {% elseif table_header[counter]['type'] == 'options'  %}
                        {{ table_header[counter]['options'][value] }}
                    {% elseif table_header[counter]['type'] == 'array'  %}
                       {% for array_value in value %}
                           {{ array_value[table_header[counter]['array_key']] }} <br>
                       {% endfor %}
                    {% endif %}
                {% elseif table_header[counter] is defined and table_header[counter]['custom_cell_renderer'] is defined %}
                    {% include table_header[counter]['custom_cell_renderer'] with {'value': value} %}
                {% else %}
                   {{ value }}
                {% endif %}
            </td>
            {% set counter = counter + 1 %}
        {% endif %}
    {% endfor %}
    {% if has_row_actions %}
        <td>
            {% for key, action_row in table_row_actions %}
                {% include custom_action_button_renderer with {'key': key, 'action_row': action_row, 'index_key': index_key} %}
            {% endfor %}
        </td>
    {% endif %}
</tr>