<a  id="{{ key }}_{{ row[index_key] }}"
    class="btn btn-primary"
    href="{{ path(action_row.url, {'id' : row[index_key]}) }}"
        >
    {{ action_row.label }} <i class="icon-{{ action_row.ico }} icon-white"></i>
</a>